.App {
  text-align: center;
  display: flex;
  min-height: calc(100vh - 32px);
  justify-content: center;
}

h1, h2 {
  font-family: "Times New Roman",Times,serif; 
}

h1 {
  font-size: 31.3333px;
  font-weight: 500;
}

body {
  color: #0000EE;
  font-size: 13.3333px;
  font-family: "Arial", sans-serif;
  padding: 16px;
}

.leftbar {
  background-color: #f4f4f4;
  border-left: 1px #ccc solid;
  border-right: 1px #ccc solid;
  flex-basis: 20%;
  p {
    font-size: 14.6666px;
  }

  input {
    font-size: 18px;
    margin: 10px;
    border: 1px #ccc solid;
    border-radius: 3px;
  }
}

.categories {
  margin: 0 20px;
  .city {
    background-color: #eee;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;

    h2 {
      color: #222;
      font-size: 24px;
      line-height: 40px;
      margin: 0;
      font-weight: 400;
    }
  }
  ul {
    list-style-type: none;
  }

  .categorylist {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
    padding: 0 20px;

    .column {
      margin: 0 10px;

      .category {
        .categorynamecontainer {
          background-color: #f4f4f4;
          border-top: 1px #ddd solid;
          border-bottom: 1px #ddd solid;
          margin-top: 20px;
          margin-bottom: 3px;
          padding: 2px 5px;
          min-width: 246px;

          h3 {
            margin: 0;
            font-size: 16px;
            font-weight: 700;
          }
        }

        table {
          padding: 0;
          text-align: left;
          margin: 0 -20px;
          border-collapse: separate;
          border-spacing: 20px 0;
          td {
            // width: 100%;
            // display: block;
            padding: 0 0 1px 0;
            // margin-right: 20px;
            border-bottom: 1px solid #eaeaea;
            vertical-align: bottom;
          }
        }
      }
    }
  }
}

// @media only screen and (max-width: 500px) and (orientation: portrait) {
@media only screen and (max-width: 1000px) {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  -webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }
  .App {
    flex-direction: column;
    justify-content: flex-start;
  }
  .leftbar {
    margin-bottom: 16px;
  }
  .categories {
    margin: 0;
    .categorylist {
      padding: 0;
      justify-content: center;
      margin: 0 -10px;
    }
  }
}